{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Share Capital | Payment {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Share Capital</li>
        <li class="breadcrumb-item active">Payment</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Share Capital Payment</h5>

            <!-- Custom Styled Validation with Tooltips -->
            <form method="post" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" step="0.01" class="form-control" name="amount" id="amount" placeholder="Make Payment" required>
                  <label for="floatingName">Amount</label>
                </div>
              </div>
              
              <div class="col-12">
                <!-- <button class="btn  btn-outline-success" onclick="goBack()">Cancel</button> -->
                <a class="btn  btn-outline-success"  href="{% url 'share-capital-transactions'%}">Cancel</a>
                <button class="btn  btn-outline-primary" type="submit">Make Payment</button>
              </div>
            </form><!-- End Custom Styled Validation with Tooltips -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}