
{% extends 'layouts/auth_base.html' %}

{% block title %} Verify {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}


<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Women Development</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Verify Email</h5>
                </div>

                <form class="row g-3 needs-validation" novalidate action="" method='POST'>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">OTP</label>
                        <input class="form-control" name="otp_code" placeholder="Enter OTP">
                      </div>
            
                      <button class="btn btn-primary" style="width:100%">Activate Account</button>
                      <p>Need a new OTP? <a href="{% url 'resend-otp' %}">Resend OTP</a></p>
            
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

</div>

{% endblock content %}
    