{% extends 'layouts/base.html' %}
{% load custom_tags %}

{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">

    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row g-4">

          <!-- Subscriptions Card -->
          <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                  <div class="card-body">
                      <h5 class="card-title">Subscriptions</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                              <h6>${{ subscription_total|floatformat:2 }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- End Subscriptions Card -->
  
          <!-- Share Capital Card -->
          <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                  <div class="card-body">
                      <h5 class="card-title">Share Capital</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                              <h6>${{ share_capital_total|floatformat:2 }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- End Share Capital Card -->
  
          <!-- Savings Card -->
          <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                  <div class="card-body">
                      <h5 class="card-title">Savings</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                              <h6>${{ savings_total|floatformat:2 }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- End Savings Card -->
  
          <!-- Loan Card -->
          <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                  <div class="card-body">
                      <h5 class="card-title">Outstanding Loan</h5>
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                              <h6>${{ loan_total|floatformat:2 }}</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- End Loan Card -->
  
      </div>
      </div><!-- End Left side columns -->

    </div>

  </section>

{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}