{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Share Capital | Transactions {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Share Capital</li>
        <li class="breadcrumb-item active">Transactions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Share Capital Transactions</h5>
              <div>
                  <a  class="btn btn-outline-success btn-sm" href="{% url 'share-capital-payment' %}" >
                      <i class="ri-add-fill"></i> Make Payment
                  </a>
              </div>
            </div>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>
                    <b>N</b>o.
                  </th>
                  <th>Amount</th>
                  <th>Payment Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for savings in shareCapital %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td style="color: green;">${{ capital.amount }}</td>
                  <td>{{ capital.payment_date}}</td>
                  <td>View</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}