{% load static %}
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link {% if active_page == 'loan-transactions' %}active{% endif %}" href="{% url 'loan-transactions' %}">
          <i class="bi bi-credit-card"></i>
          <span>Loan</span>
      </a>
    </li><!-- End Loan Nav -->

    <li class="nav-item">
      <a class="nav-link {% if active_page == 'subscriptions-transactions' %}active{% endif %}" href="{% url 'subscriptions-transactions' %}">
          <i class="bi bi-currency-exchange"></i>
          <span>Subscriptions</span>
      </a>
    </li><!-- End Loan Nav -->

    <li class="nav-item">
      <a class="nav-link {% if active_page == 'share-capital-transactions' %}active{% endif %}" href="{% url 'share-capital-transactions' %}">
          <i class="bi bi-cash-coin"></i>
          <span>Share Capital</span>
      </a>
    </li><!-- End Loan Nav -->

    <!--<li class="nav-item">
        <a class="nav-link collapsed {% if active_page == 'loan-application' or active_page == 'loan-transactions' %}active{% endif %}" data-bs-target="#loan-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-cash-coin"></i><span>Loan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="loan-nav" class="nav-content collapse {% if active_page == 'loan-application' or active_page == 'loan-transactions' %}show{% endif %}" data-bs-parent="#sidebar-nav">
            <li>
                <a class="{% if active_page == 'loan-application' %}active{% endif %}" href="{% url 'loan-application' %}">
                    <i class="bi bi-circle"></i><span>Application</span>
                </a>
            </li>
            <li>
                <a class="{% if active_page == 'loan-transactions' %}active{% endif %}" href="{% url 'loan-transactions' %}">
                    <i class="bi bi-circle"></i><span>Transactions</span>
                </a>
            </li>
        </ul>
    </li> -->
    
    <!-- End Loan Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed {% if active_page == 'subscriptions-payment' or active_page == 'subscriptions-transactions' %}active{% endif %}" data-bs-target="#sub-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-credit-card"></i><span>Subscriptions</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sub-nav" class="nav-content collapse {% if active_page == 'subscriptions-payment' or active_page == 'subscriptions-transactions' %}show{% endif %}" data-bs-parent="#sidebar-nav">
            <li>
                <a class="{% if active_page == 'subscriptions-payment' %}active{% endif %}" href="{% url 'subscriptions-payment' %}">
                    <i class="bi bi-circle"></i><span>Make Payment</span>
                </a>
            </li>
            <li>
                <a class="{% if active_page == 'subscriptions-transactions' %}active{% endif %}" href="{% url 'subscriptions-transactions' %}">
                    <i class="bi bi-circle"></i><span>Transactions</span>
                </a>
            </li>
        </ul>
    </li><!-- End Subscriptions Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed {% if active_page == 'share-capital-payment' or active_page == 'share-capital-transactions' %}active{% endif %}" data-bs-target="#share-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-currency-exchange"></i><span>Share Capital</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="share-nav" class="nav-content collapse {% if active_page == 'share-capital-payment' or active_page == 'share-capital-transactions' %}show{% endif %}" data-bs-parent="#sidebar-nav">
            <li>
                <a class="{% if active_page == 'share-capital-payment' %}active{% endif %}" href="{% url 'share-capital-payment' %}">
                    <i class="bi bi-circle"></i><span>Make Payment</span>
                </a>
            </li>
            <li>
                <a class="{% if active_page == 'share-capital-transactions' %}active{% endif %}" href="{% url 'share-capital-transactions' %}">
                    <i class="bi bi-circle"></i><span>Transactions</span>
                </a>
            </li>
        </ul>
    </li><!-- End Share Capital Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed {% if active_page == 'user-profile' or active_page == 'change-password' %}active{% endif %}" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse {% if active_page == 'user-profile' or active_page == 'change-password' %}show{% endif %}" data-bs-parent="#sidebar-nav">
            <li>
                <a class="{% if active_page == 'user-profile' %}active{% endif %}" href="{% url 'user-profile' %}">
                    <i class="bi bi-circle"></i><span>User Profile</span>
                </a>
            </li>
            <li>
                <a class="{% if active_page == 'change-password' %}active{% endif %}" href="{% url 'change-password' %}">
                    <i class="bi bi-circle"></i><span>Change Password</span>
                </a>
            </li>
        </ul>
    </li><!-- End Settings Nav -->

</ul>

</aside>