{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Loan | Application {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Loan</li>
        <li class="breadcrumb-item active">Application</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row justify-content-center">

      <div class="col-xl-8">

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Loan Application</h5>

            <!-- Custom Styled Validation with Tooltips -->
            <form method="post" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              <div class="col-12 position-relative">
                {{ form.mobile_account.label_tag }}
                {{ form.mobile_account }}
                <div class="invalid-tooltip">
                    Please provide a valid mobile account.
                </div>
            </div>
            <div class="col-12 position-relative">
                {{ form.amount.label_tag }}
                {{ form.amount }}
                <div class="invalid-tooltip">
                    Please provide a valid amount.
                </div>
            </div>
            <div class="col-12 position-relative">
                {{ form.term_months.label_tag }}
                {{ form.term_months }}
                <div class="invalid-tooltip">
                    Please provide a valid term (months).
                </div>
            </div>
            <div class="col-12 position-relative">
                {{ form.agreed_to_terms.label }}
                {{ form.agreed_to_terms }}
                <div class="invalid-tooltip">
                    You must agree to the terms.
                </div>
            </div>
<!--               {% csrf_token %}
              {{ form.as_p }} -->
              <div class="col-12">
                <a class="btn  btn-outline-success"  href="{% url 'loan-transactions'%}">Cancel</a>
                <button class="btn  btn-outline-primary" type="submit">Next</button>
              </div>
            </form><!-- End Custom Styled Validation with Tooltips -->
          </div>
        </div>
    
        <!-- Back Button -->
    
    </div>
    
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}