{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Loan | Application {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Loan</li>
        <li class="breadcrumb-item active">Application</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Loan Application</h5>

            <!-- Custom Styled Validation with Tooltips -->
            <form method="post" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="mobile" class="form-control" name="mobile_account" id="mobile_account"  required>
                  <label for="floatingInput">Mobile Number</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" step="0.01" class="form-control" name="amount" id="amount"  required>
                  <label for="floatingInput">Amount</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating mb-3">
                  <select class="form-select" name="term_months" id="term_months" required>
                    <option value="" disabled selected>Select term</option>
                    <option value="3">3 Months</option>
                    <option value="6">6 Months</option>
                    <option value="12">12 Months</option>
                  </select>
                  <label for="floatingSelect">Term</label>
                </div>                
              </div>
              <div class="col-12">
                <a class="btn  btn-outline-success"  href="{% url 'loan-transactions'%}">Cancel</a>
                <button class="btn  btn-outline-primary" type="submit">Next</button>
              </div>
            </form><!-- End Custom Styled Validation with Tooltips -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}