{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Loan | Confirmation {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Loan</li>
        <li class="breadcrumb-item active">Confirmation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">

    <div class="row justify-content-center">

      <div class="col-xl-8">

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Loan Confirmation</h5>

            <form class="row g-3 needs-validation" method="post" novalidate>
              {% csrf_token %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Borrower</span>
                    <span style="color: blue;">{{ borrower }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Loan Amount</span>
                    <span style="color: green;">${{ amount }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Service Fee</span>
                    <span style="color: blueviolet;">${{ service_fee }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Loan Term</span>
                    <span style="color: red;">{{ term_months }} Months</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Amount to be Disbursed</span>
                  <span style="color: brown;">${{ disbursed_amount }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Interest Amount</span>
                  <span style="color: red;">${{ interest }}</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span>Total Repayment Amount</span>
                  <span style="color: green;">${{ repayment_amount }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                </li>
            </ul>
              
              <div class="col-12">
                <a class="btn btn-outline-primary" href="#" onclick="window.history.back(); return false;">Cancel</a>
                <button class="btn  btn-outline-success" type="submit">Confirm Application</button>
              </div>
            </form><!-- End Custom Styled Validation with Tooltips -->

          </div>
        </div>
    
        <!-- Back Button -->
    
    </div>
    
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}