{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Loan | Details {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

<style>
   .outstanding-amount {
    font-size: 3rem;
    color: #28a745;
  }

  .currency {
    font-size: 0.8em; /* Adjust the font size as needed */
    vertical-align: middle; /* Align vertically with the amount */
    /* Additional styling if necessary */
}

.amount {
    font-size: 1.5em; /* Adjust the font size as needed */
    /* Additional styling if necessary */
}

</style>

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Loan</li>
        <li class="breadcrumb-item active">Details</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section profile">
    <div class="row justify-content-center">

      <div class="col-xl-8">
        <div class="card text-center mb-4 
            {% if loan.status == 'Cleared' %}
                bg-success text-white
            {% elif loan.status == 'Outstanding' %}
                bg-warning text-dark
            {% elif loan.status == 'Approved' %}
                bg-info text-white
            {% elif loan.status == 'Rejected' %}
                bg-danger text-white
            {% else %}
                bg-secondary text-white
            {% endif %}">

            <div class="card-body loan-status">
                <div class="icon">&#10003;</div>
                <h4 class="card-title">{{ loan.status }}</h4>
                <p class="message">
                    {% if loan.status == 'Cleared' %}
                        Thank you for using our service. Wish you have a nice day!
                    {% elif loan.status == 'Outstanding' %}
                        Your loan is outstanding. Please take action soon.
                    {% elif loan.status == 'Approved' %}
                        Your loan application has been approved. Congratulations!
                    {% elif loan.status == 'Rejected' %}
                        Unfortunately, your loan application has been rejected.
                    {% else %}
                        Unknown status. Please contact support for assistance.
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Outstanding Balance</h4>
            <div class="text-center">
              <p class="outstanding-amount">
                <span class="currency">USD</span> <span class="amount">{{ loan_status.outstanding_amount }}</span>
              </p>
            </div>
        </div>
      </div>

      <div class="text-center">
        <a href="{% url 'loan-payment' %}" class="btn btn-outline-success my-2">
        <i class="bi bi-check-circle me-1"></i> Make Payment</span></a>
      </div>
              <!-- Repayment Details Card -->
        <div class="card mb-4">
          <div class="card-body">
              <h5 class="card-title">Repayment Details</h5>
              <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                      <span>Due Date</span>
                      <span>{{ loan_status.due_date }}</span>
                     </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Summery Interest</span>
                        <span>${{ loan_status.summary_interest }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Overdue Fees</span>
                        <span style="color: brown;">${{ loan_status.overdue_mgt_fee }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Late Interest</span>
                        <span style="color: red;">${{ loan_status.late_interest }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Partial Payment</span>
                        <span style="color: brown;">${{ loan_status.partial_payment }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total To be Paid</span>
                        <span style="color: red;">${{ loan_status.total_to_be_repaid }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                    </li>
                  
              </ul>
          </div>
        </div>
    
        <!-- Loan Details Card -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Loan Details</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Reference Number</span>
                        <span style="color: blue;">{{ loan.ref_no }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Date</span>
                        <span>{{ loan.application_date }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Loan Amount</span>
                        <span style="color: green;">${{ loan.amount }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Term</span>
                        <span style="color: brown;">{{ loan.term_months }} Months</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                    </li>
                </ul>
            </div>
        </div>
    
        <!-- Back Button -->
<!--         <button class="btn  btn-outline-success mb-4" onclick="goBack()">Back</button> -->
        <a href="{% url 'loan-transactions' %}" class="btn btn-outline-success mb-4">Back</a>
    </div>
    
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}