{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Loan | Repayment {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Loan</li>
        <li class="breadcrumb-item active">Repayment</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Loan Application</h5>

            <!-- Custom Styled Validation with Tooltips -->
            <form method="post" class="row g-3 needs-validation" novalidate>
              {% csrf_token %}
              <p>Outstanding Amount: ${{ outstanding_amount }}</p>
              <label for="repayment_amount">Repayment Amount:</label>
              <input type="number" step="0.01" name="repayment_amount" id="repayment_amount" required>
              <div class="col-12">
                <button class="btn btn-success" onclick="goBack()">Cancel</button>
                <button class="btn btn-primary" type="submit">Make Payment</button>
              </div>
            </form><!-- End Custom Styled Validation with Tooltips -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}