{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Subscriptions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

       <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>

            <!-- Bordered Tabs Justified -->
            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
              <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Make Payment</button>
              </li>
              <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Payment History</button>
              </li>
              <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false"></button>
              </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
              <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card mb-6">

              <div class="card-body">


                <h5 class="card-title">Make Payment</h5>

                <!-- Horizontal Form -->
                <form id = "add-coop-form" action="paynow.html" method="post">
                    
                <div class="row mb-3">
                    <label for="txtNumber" class="col-sm-2 col-form-label">Cooperative name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" value="Maguta" id="txtNumber" name ="txtNumber" required disabled>
                    </div>
                </div>
                    <div class="col-sm-10">
                    Subscription Due is USD. Click below to make payment.
                    </div>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" name ="submitButton" id ="submitButton" onclick="">PayNow</button>
                    
                </div>
                </form><!-- End Horizontal Form -->

          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">       
        <div class="row">
        <div class="col-lg-12">

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Payment History</h5>
                

                <!-- Table with stripped rows -->
                <table class="table datatable">
                <thead>
                    <tr>
                    <th>
                        <b>N</b>ame
                    </th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Masimba</td><td>73 Link Dr Southwood</td><td>hondo@kwekwepoly.ac.zw</td><td>0718032000</td><td><a href =''>Edit</a> </td></tr><tr><td>Alfa</td><td>73 Link Dr Southwood</td><td>hondo1@kwekwepoly.ac.zw</td><td>0718032000</td><td><a href =''>Edit</a> </td></tr><tr><td>Hhh</td><td>1163 Dogwood St Westgate</td><td>hlupota@gmail.com</td><td>0776831937</td><td><a href =''>Edit</a> </td></tr><tr><td>Taona</td><td>124 wesr</td><td>hlupota@gmail.com</td><td>0242732695</td><td><a href =''>Edit</a> </td></tr><tr><td>Hodno</td><td>Kwekwe 20</td><td>hondo@kwekwepoly.ac.zw</td><td>0783923232</td><td><a href =''>Edit</a> </td></tr>                  
                    
                
                </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
            </div>

        </div>
        </div>
    </div>
              <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
                Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
              </div>
            </div><!-- End Bordered Tabs Justified -->

        
      
      </div>
    </div>
  </section>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}